<% layout('layouts/navbar-2') %>
<div class="row mt-5">
    <p></p>
    <h1 class="text-center">GET QRcode</h1>
    <div class="col-7 offset-3">
      <form action="/admin/establishment/add" method="post" novalidate class="validated-form mt-3">
        <div class="form-inline">
            <div class="mb-3">
                <label class='form-label' for="name">Name</label>
                <input class='form-control' type="text" name="name" id="name" required>
                <div class="valid-feedback">Looks Good</div>
            </div>
            <div class="mb-3">
              <label class='form-label' for="contactNum">Contact Number:</label>
              <input class='form-control' type="text" contactNum="contactNum" id="contactNum" name="contactNum" required>
              <div class="valid-feedback">Looks Good</div>
          </div>
        </div> 
        
    <div id="loading">

    </div>
    <div class="mb-3">
      <label class='form-label' for="age">Age:</label>
      <input class='form-control' type="text"  id="age" name="age" required>
      <div class="valid-feedback">Looks Good</div>
  </div>
  <div class="mb-3">
    <label class='form-label' for="nationality">Nationality:</label>
    <input class='form-control' type="text" nationality="nationality" id="nationality" name="nationality" required>
    <div class="valid-feedback">Looks Good</div>
</div>
<div class="mb-3">
              <label class='form-label' for="origin">Origin:</label>
              <input class='form-control' type="text" origin="origin" id="origin" name="origin" required>
              <div class="valid-feedback">Looks Good</div>
          </div>
         
          <div class="mb-3">
            <label class='form-label' for="gender">Gender</label>
            <select name="gender" id="gender" class="form-select">
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
        </div>
        <div class="mb-3">
          <label class='form-label' for="address">Address</label>
          <input class='form-control' type="text" name="address" id="address" required>
          <div class="valid-feedback">Looks Good</div>
      </div>
          <div class="mb-3">
              <input class="btn btn-primary" id='guda' type="button" onClick="sendData();" value="SUBMIT">


          </div>
          </form>

    </div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">SUCCESSFULLY ADDED</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
     
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
var loadingDiv = document.getElementById('loading');
 var myModal = new bootstrap.Modal(document.getElementById('exampleModal'))


function showSpinner() {
  loadingDiv.style.visibility = 'visible';
}

function hideSpinner() {
  loadingDiv.style.visibility = 'hidden';
}


function sendData(){
  var name =document.getElementById('name').value;
var contactNum = document.getElementById('contactNum').value;
var address = document.getElementById('address').value
var modelBody =document.getElementById('modal-body')
      showSpinner()
    
    axios.post('/pass',{
        name:name,
        contactNum: contactNum,
        address:address,
    }).then((res)=>{
      console.log(res.data)
      hideSpinner()
      modelBody.innerHTML = `<div class=\"text-center\">
  <img src=\"${res.data}\" class=\"rounded mx-auto d-block\"> 
  <p>
  
  </p>
      <div class=\"text-center\">
          <a href=\"${res.data}\" download class=\"btn btn-success\">Download</a>
      </div>
  
</div>
`
      myModal.show()
       
    })
}

</script>
<script>
  window.onload = function(){ 
                alert("THIS APP IS ON DEVELOPMENT STAGE, YOU HAVE SOME BUGS MAY ENCOUNTER WHILE USING THIS APP");
                }
 

</script>