<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<div class="row mt-5">
    
    <h1 class="text-center mt-5">Scan QRcode</h1>
    <div class="col-6 offset-3">
    
            <div class="mb-3">
                <label for="regions" class="form-label">Select Boat</label>
                <select name="destination" id="regions" class="form-select">
                    
                    <% for(data of boat){ %> 
                    <option value='<%=data.name  %> '><%= data.name  %> </option>
                    <% } %> 
                
                </select>
            </div>
           
            
            <input type="button" value="submit" onClick='getScan();' class="btn btn-primary" >  
            <h1 class="text-center mt-5">Generate Report</h1>
<div class="mb-3 ">
    <label for="date" class="form-label">Select Date</label>
    <input type="date" name=birthday" id="date" class="form-control">
    
</div>  
<button class="btn btn-primary" onClick='sendDate();'>Generate</button>
</div>

</div>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Boat</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>

</table>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    
</script>

<script>
    function getScan(){
        var boat = document.getElementById('regions').value;
        window.location=`/dash/${boat}`
    }
    
    function sendDate(){
        $('#example').DataTable().clear().destroy();
        var date = document.getElementById('date').value
        axios.post('/data',{
            date:date
        }).then((res)=>{
            
            var passenger =[]
            //console.log(res.data);
            console.log(passenger)
            console.log(res.data)
            for(data of res.data){
                data.passenger.map(item =>{
                    passenger.push({...item,boat:data.boat}) //destructure passenger
                })
            }
           
            //const date =convertDate(data.date)
            $('#example').DataTable({
            data:passenger,
            dom: 'Bfrtip',
            "columns":[
                {'data':'name'},
                {'data':'address'},
                {'data':'contactNum'},
                {'data':'date',
                 

            },{'data':'dateOut',
                

            },
                {'data':'boat',}    
            

            ],
            buttons: [
            {
                extend: 'pdfHtml5',
                //orientation: 'landscape',
                pageSize: 'LEGAL',
                download:'open'
            }
        ]
        
    });
           
        }).then((res)=>{
        
        })
    }

    function convertDate(date){
        date = new Date(date)
        year = date.getFullYear();
        month = date.getMonth()+1;
        dt = date.getDate();
        var hours = date.getHours();
        var dayMode = hours < 12 ? "am" : "pm";
        var hr= hours <= 12 ? (hours == 0 ? 12 : hours) : hours- 12;
var minutes = date.getMinutes();
var min = (minutes < 10) ? '0' + minutes : minutes;
var seconds = date.getSeconds();
var sec = (seconds < 10) ? '0' + seconds : seconds;

        if (dt < 10) {
             dt = '0' + dt;
            }
        if (month < 10) {
            month = '0' + month;
            }
            var newDateString =year+'-' + month + '-'+dt;
       var newTimeString = hr + ':' + min + ':' + sec+':'+dayMode;
            return newDateString + ' '+newTimeString;
    }
</script>