<% layout('layouts/boilerplate') %>
<div class='row'>
    <h1 class="text-center">Track Relief</h1>
    <div class="col-6 offset-3 mt-5">
      <form action="post">
        <label for="goods" class="form-label">Username</label>
        <input type="text" name='' id="goods" class='form-control' value=" ">
        <label for="password" class="form-label">Password</label>
        <input type="password" name='' id="password" class='form-control' value="">
        
        <button class="btn btn-success mt-3" type="submit">Submit</button>
       
      </form>
    </div>
</div>